---
layout: default
pagename: special-details
title: International Exclusive Offer | Pearl Hotel Waikiki
excerpt: Take advantage of these exclusive Waikiki special offers and deals, only available when you book here on the Official Website of Pearl Hotel Waikiki!
meta_tags:
robots: noindex, nofollow
---

<div class="room-details special-details" rt3-special-rates= "offers">

  <section>
    <div class="container no-padding">
      <div class="page-banner overlay specials-banner-exclusive">
        <h1 class="page-title">Special offers</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <ul class="gallery-nav">

      <!-- <li ng-repeat="o in offers.special_rates"><a ng-href="/special/#[[o.rate_plan_name | formatNameForLink]]" ng-class="{active: offers.sRdetail.rate_plan_code == o.rate_plan_code}" >[[o.rate_plan_name]]</a></li> -->

    </ul>
  </div>
  <section>
    <div class="container room-details-carousel" >
      <div class="row">
      <div class="col-sm-3 col-xs-12">
          <div class="spcl-lstng">
          	<h2>Special Offer</h2>
            <p>Book Early and Save 15% on your next Waikiki Holiday!</p>
            <p></p>
            <div class="booknow"> <a href="https://pearlwaikiki.reztrip.com/classic/en/special_offer?action=show&controller=landings&locale=en&rate_code%5B%5D=DAD1&rate_code%5B%5D=DAD1&starting_page=special_offer&vr=3&utm_source=CPC-Intl&utm_medium=CPC-Intl&utm_campaign=International-Offer&utm_term=Intl-Book-Now" target="_blank">Book Now</a> </div>
            <div class="btn-holder extra padding"><a href="mailto:reservations@pearlhotelwaikiki.com" class="button-common btn-blue">Contact Us</i></a></div>

          </div>
      </div>
      <div class="col-sm-9 col-xs-12">

          <div id="roomDetailsCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#roomDetailsCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#roomDetailsCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <div class="item overlay active">
                <img src="/images/specials/special-details/international-exclusive-offer-1.jpg" alt="International Exclusive Offer"/>
                <h3 class="offername"><span class="block-element ">International Exclusive Offer</h3>
              </div>
              <div class="item overlay">
                <img src="/images/specials/special-details/international-exclusive-offer-2.jpg" alt="International Exclusive Offer"/>
                <h3 class="offername"><span class="block-element ">International Exclusive Offer</h3>
              </div>


            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">

      <div class="row details-intro style2">
      	<div class="holds">
        <div class="col-md-12">
        <h4>Located just 10 miles (16 km) from the Honolulu International Airport (Daniel K. Inouye International Airport), the Pearl Hotel Waikiki is in the center of the bustling city’s best shops, restaurants and attractions. One block from the International Market Place and 1.5 blocks from the famous Waikiki Beach.</h4>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section class="lifestyle ppc-landing">
  	<div class="container">
    	<h3>ABOUT THE OFFER</h3>
        <p>Lock in our absolute lowest rate today and receive huge savings!</p>
        <ul>
            <li>Save up to 15% off your international getaway</li>
            <li>Receive a FREE upgrade when staying 3 or more nights</li>
            <li>Enjoy 3 FREE travel rewards</li>
        </ul>
        <p>Enjoy some of Waikiki’s most spacious guest accommodations – perfect for extended stays with large families and groups. Our one, two - and three bedroom suites have full kitchens, separate living areas, and private lanais, making it easy to prepare meals or unwind against the backdrop of Waikiki.</p>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row information">
        <div class="col-md-5 align-center"><img src="/images/specials/special-details/photo-patch-spcls.png" width="296" height="297" alt=""/></div>
        <div class="col-md-7 p-l-0">
          <p class="highlight p-t-35">Terms & Conditions:</p>
          <ul class="lst p-b-25">
            <li>Non-refundable and prepayment required at time of booking. Daily amenity fee is $20.00 plus tax. Limited parking available at $30 per night. A bank issued credit card is required to secure the entire amount of stay plus $100 deposit. Once booked reservation cannot be amended or cancelled and full charge for entire reservation applies.</li>
            <li>Guarantee/Deposit and Change/Cancellation Fees will depend on selected dates and room/rate combination.</li>
        </ul>
          <p class="highlight">Need assistance? Our dedicated reservations team is available around the clock:</p>
          <p class="p-b-25"><a href="tel:1.808.922.1616" >1.808.922.1616</a>  or
            e-mail <a href="mailto:reservations@pearlhotelwaikiki.com">reservations@pearlhotelwaikiki.com</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large">More Specials</h2>

        {%  include special-offers.html %}


        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
