---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-12 no-padding">
        <div class="">
          <div class="blog-item">
            <h1>Fantasy Fest 2016 – Bahama Village Goombay </h1>
            <span class="post-details">September 22nd, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/bahama-village-goombay.jpg" alt="Fantasy Fest 2016 – Bahama Village Goombay"/>
            </div>
            <p>Fantasy Fest isn’t all body paint and crazy costumes, it also channels that island vibe we love so much about Key West. Kicking off the Conch Republic’s most infamous festival,<a href="https://www.facebook.com/BahamaVillageGoombayFestival" target="_blank">Bahama Village Goombay </a> gets the party started with a true Caribbean celebration, just like in the Bahamas. Held on the first Friday and Saturday of <a href="http://www.fantasyfest.com/schedule/" target="_blank">Fantasy Fest </a>, this is one tropical dance party you don’t want to miss.  </p>
            <p>A nod to Key West’s Caribbean heritage, Goombay takes from the Bahamas’ popular Junkanoo street parades, donning colorful Igbo costumes and dancing in the street. As is tradition, there are marching bands parading through the village with bells, whistles, horns and drums. Even if you’re not much for dancing, Goombay’s drum beats are hard to resist. Yet there’s not only marching bands, there will also be everything from gospel to reggae, and other island-themed music on the main stage at Petronia and Fort Streets.  </p>

            <p>While we know we always tout the live music scene in Key West, this just might be the best of the best for groovin’.  After all it makes sense -  “goombay” is actually a direct reference to the Caribbean drum used in much of the Caribbean’s calypso-style music. It’s also the most common instrument at drum circles.   </p>

            <p>Aside from the music and dancing, Bahama Village Goombay also features a street fair with Caribbean foods, such as johnny cakes and conch. While many Americans may think of cornbread when they hear johnny cake, Caribbean johnny cakes are actually closer to donuts or beignets – no cornmeal here, just deep-fried goodness. And as for drinks, you can count on plenty of rum punch.   </p>

            <p>Bahama Village Goombay last two days. The party starts on<strong> Friday, October 21, 2016,</strong> at noon and lasts until midnight before resuming again <strong>on Saturday, October 22, 2016.</strong> Check the <a href="https://www.facebook.com/BahamaVillageGoombayFestival" target="_blank">Bahama Village Goombay Facebook </a> page for more information.  </p>
          </div>
          <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-4 no-padding">
        <div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>
      </div>-->
  </div>
</section>