---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-12 no-padding">
        <div >
        
        <div class="blog-item">
            <h1>Happy Birthday, 24 North!</h1>
            <span class="post-details">November 1st, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/happy-birthday-24-north-1.jpg" alt="On November 4, 2016, 24 North Hotel is turning 1."/></div>
                <p><strong>On November 4, 2016, 24 North Hotel is turning 1.</strong></p>

                 <p>It’s hard to believe. Has it already been a year? Looking back we’ve come a long way. In fact, we’ve grown so much since November, you probably wouldn’t even recognize us from a year ago. After all, we did have some major work done – major renovations, that is.  </p>
                 <div class="post-image-holder"><img src="/images/blog/happy-birthday-24-north-2.jpg" alt="On November 4, 2016, 24 North Hotel is turning 1."/>
                
                </div>
                <p>For those of you that visit the Conch Republic often, you may remember passing the hotel that used to occupy our spot on the water. And while we won’t go naming any names, their style wasn’t very 24 North. So we <a href="http://www.24northhotel.com/gallery/" target="_blank"> completely renovated </a> the space to give it the modern vibe you see now, without loosing any of the island essence. It’s about feeling like you’re on an island resort without actually being cut-off from civilization. However, when you want to deal with civilization you can, we’ll even <a href="http://www.24northhotel.com/location/" target="_blank"> drive you. </a>  </p>
                <div class="post-image-holder"><img src="/images/blog/happy-birthday-24-north-3.jpg" alt="On November 4, 2016, 24 North Hotel is turning 1."/>
                               </div>
                <p>You’ve also probably noticed our distinctly Cuban vibe. Whether it’s our Caribbean blue shutters, the breathtaking photos by <a href="http://www.24northhotel.com/blog/an-interview-with-jorge-de-la-torriente-of-de-la-gallery/" target="_blank"> Jorge de la Torriente, </a> or our hospitality, much of 24 North’s style pulls from Key West’s Cuban history. Being only 90 miles to Cuba, there was a time when it was easier to get to Havana than Miami. While some Conchs might have forgotten that, we haven’t. Even our name is a reference to the Key West – Cuba connection. What you may not have realized is that Key West and Cuba are located on the same latitude line, 24°N. Hence our name, 24 North. </p>
                <div class="post-image-holder"><img src="/images/blog/happy-birthday-24-north-4.jpg" alt="On November 4, 2016, 24 North Hotel is turning 1."/>
               
                </div>
                <p>So come celebrate with us. We’ve got a great pool, just the right mix of Key West sun and palm tree shade, delicious tacos and top-notch drinks from our restaurant Chug Cantina, an exercise center overlooking our lush grounds, and of-course, the most hospitable staff on this side of 24°N. We even have our very own Starbucks on-site, and our friends from Fury Watersports to organize all your Key West excursions. And that’s all within one year. Just think what we’ll have for you <a href="http://www.24northhotel.com/rooms/" target="_blank">when you visit us</a> for birthday #2. </p> 
                
               <p> Cheers! </p>

               

           

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <!--<div class="col-md-4 no-padding">
        <div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>
      </div>-->
    </div>
  </div>
</section>
