---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-12 no-padding">
        <div>
        
        <div class="blog-item">
            <h1>The Haunted History of Key West</h1>
            <span class="post-details">October 31, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/haunted-history-key-west.jpg" alt="The Haunted History of Key West"/></div>
            <p>
             Key West is filled with ghost stories. From lingering lovers to ghastly murders, the island is not without its share of haunted history. While ghost-hunters say these supernatural phenomenon can be seen year-round, we especially like to call forth the Halloween spirit in the month of October. Here are some of Key West’s eeriest spots: </p>

             <p><strong> 1. East Martello Museum</strong>  <br>
            3501 S Roosevelt Blvd<br>
            Key West, Florida 33040</p>

            <p>Some say this is where the legend of Chucky comes from. Once a Civil War fort, the East Martello Museum is the now the home of <a href="http://robertthedoll.org/" target="_blank">  Robert the Doll </a>, a life-sized plaything of artist Gene Otto that is said to be possessed. One story goes that the temperamental Gene took out all his anger on Robert the Doll, and time after time, the doll absorbed the negative energy causing “Robert” to become possessed. However, other stories claim that the doll was cursed from the beginning. A gift from a Bahamian servant skilled in voodoo, Robert the Doll caused its own disturbances in the family home, turning over furniture, screaming, and even talking. Either way, modern-day witnesses claim they have seen the doll move by itself at its new home.</p>

            <p><strong>2. Captain Tony’s Saloon</strong> <br>
            428 Greene St<br>
            Key West, Florida 33040</p>

            <p>Although Captain Tony’s Saloon is best remembered as the original site of Sloppy Joe’s, the favorite bar of Ernest Hemingway, the spot has had a deadly history since the founding of the island. Aside from the fact that the spot was the site of the loss of many lives during a strong hurricane in 1865, <a href="http://www.capttonyssaloon.com/" target="_blank"> Captain Tony’s </a> had also been a morgue in its early days. In fact, several buried human remains have been found at the bar. Even more scary is the fact that the saloon’s iconic tree was used for numerous hangings. That said, the bar has become infamous for the “Lady in Blue,” the ghost of a woman who was hung on the very tree for murdering her two sons and husband.</p>

           <p> <strong>3. St. Paul’s Episcopal Church Cemetery </strong> <br>
            401 Duval St<br>
            Key West, Florida 33040</p>

           <p> Not be confused with the Key West Cemetery, this church cemetery may be considerably smaller than its municipal counterpart, but what for it lacks in space it makes up in paranormal activity. Frequent ghost sightings have been reported at the <a href="http://www.stpaulschurchkeywest.org/History.html" target="_blank"> St. Paul’s Episcopal Church Cemetery,  </a> including the spirit of the Sea Captain who likes to scare visitors that come near his grave. Other apparitions include that of a 19th-century man believed to be John Fleming, the founder of the church and cemetery, as well as the ghosts of several children that were locked inside the church as it went up in flames after being set on fire by a distraught pastor.</p> 


           <p> <strong>4. Hard Rock Café</strong> <br>
            313 Duval Street<br>
            Key West, Florida 33040</p>

            <p>While Robert Curry won’t disturb your meal at Key West’s <a href="http://www.hardrock.com/cafes/key-west/http://www.hardrock.com/cafes/key-west/" target="_blank"> Hard Rock Café </a>, he might check up on you to see if everything is alright. The former heir to the Curry fortune, Robert was bad at finances, so bad that he was losing his father’s millions. When things got dire, he committed suicide in the upstairs bathroom. Considering that this was Robert’s home in the first place, the legend goes that he still roams the premises. Even Hard Rock employees say they have seen him, as a dark-haired young man that vanishes into thin air. 


           </p>

<div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
          </div>
          
        </div>
      </div>
      <!--<div class="col-md-4 no-padding">
        <div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>
      </div>-->
    </div>
  </div>
</section>
