---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-12 no-padding">
        <div class="">
          <div class="blog-item">
            <h1>Powerboat World Championships in Key West</h1>
            <span class="post-details">November 6 – 13, 2016</span>
            <div class="post-image-holder"><img src="/images/blog/2014KWPowerboat07.jpg" alt="Powerboat World Championships in Key West"/>
            </div>
            <p>Every November, the world’s biggest and fastest offshore racing series comes to Key West. Super Boat International, or Powerboat, as it’s referred to in Key West, is a week-long powerboating series featuring races, shows, parades, and parties, culminating in the grand-daddy of the <a href="http://superboat.com/" target="_blank">super boat</a> season, the world championships.
That means the world’s fastest boats going full throttle, speeding through Key West waters in pursuit of the world championship title. Engines roaring, these boats practically fly across the water, reaching speeds well over 100 miles per hour, all making the the annual <strong>Powerboat Championships</strong> a must see, racing fanatic or not.</p>
            <p>Although you can watch from the mainland, we recommend the view from the sea. Our partners <strong>Fury Watersports</strong> camp out every year at the end of the race course in their catamaran. Not only do you see the speedboats powering toward you, but you also get to see them turn in the race to the finish. It’s <a href="https://www.furycat.com/key-west/powerboat-races" target="_blank">the best seat</a> in all Powerboat Races. However, if tickets are already sold out, <a href="http://superboat.com/race-course-coordinates-key-west/" target="_blank">other good spots</a> for seeing the races are the Outer Mole and Fort Zach. The Outer Mole is probably the closest you’ll get to the boats outside of Fury’s catamaran, but if you want to spend the day on the beach after the races, <a href="http://www.24northhotel.com/attractions/fort-zachary/" target="_blank">Fort Zach</a> is especially appealing. </p>

            <p>Aside from the championship races, there are plenty of other festivities happening during the week of Powerboat. On Sunday, November 6, 2016 there’s the annual <strong>boat parade down Duval Street</strong>, and on Monday, November 7, 2016, the festivities “officially” kick off with the <strong>Super Boat International Welcome Party</strong>. Also, the competing boats will be on display at the Truman Waterfront throughout the week.</p>

            <p>However, that’s not all. Coinciding with the Powerboat World Championships is the Florida Powerboat Club’s annual Offshore Poker Run. Starting in Miami and run through the backwaters of the Keys, the <a href="http://flpowerboat.com/project/key-west-offshore-poker-run/" target="_blank">offshore poker run</a> island-hops between Key Largo, Islamorada, Marathon, and Bahia Honda. <strong>The offshore poker</strong> run lasts from November 9-14, 2016. However, participants must register beforehand on the Florida Powerboat Club <a href="http://flpowerboat.com/project/key-west-offshore-poker-run/" target="_blank">website</a>.</p>

            <p>Sound like your type of vacation? We’ll see you in November.</p>
            <p style="font-style:italic;">For more festivities and a complete list of events, check the official Super Boat International <a href="http://superboat.com/race-schedule/key-west-schedule/" target="_blank">schedule here</a>.</p>
          </div>
          <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-4 no-padding">
        <div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>
      </div>-->
  </div>
</section>