<footer>
	<div class="footer-wrapper four-coloumn">
    	<div class="container">
        
       
        	<div class="col-md-3 col-sm-6 no-padding v-top">
            	<div class="footer-grid no-padding-left">
                	<h2>Contact Us</h2>


                    <p><a href=" https://goo.gl/maps/r8pkqnmnqWT2" target="_blank"><span class="block-element">415 Nahua St Honolulu,</span>
						<span class="block-element">HI 96815</span></a>
						<span class="block-element"><a href="tel:808.922.1616">(808) 922-1616</a></span>
						
                    </p>
	
                </div>
            </div>
            <div class="col-md-3 col-sm-6 no-padding v-top">
            	<div class="footer-grid">
                	<h2>Links</h2>
                    <ul>
                    	 {% for items in site.data.navigation.footernav %}
        				<li><a href="{{ items.url }}">{{ items.title }}</a></li>
       						{% endfor %}                       
                    </ul>
                    
        
                </div>
            </div>
            
           
            <div class="col-md-4 col-xs-12 no-padding v-top">
            	<div class="footer-grid">
                	<h2>Newsletter</h2>
                   
                      <form class="jotform-form" action="https://submit.jotform.me/submit/71001519882453/" method="post" name="form_71001519882453" id="71001519882453" accept-charset="utf-8">
  <input type="hidden" name="formID" value="71001519882453" />
                    	<div class="form-holder">
                    	 <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox"  id="input_3" name="q3_email" size="21" value="" placeholder="Enter Your Email..." required="required" /> 
                         <button id="input_2" type="submit" type="submit" class="form-submit-button form-btn">Send</button>
                        </div>
                        
   <input type="hidden" id="simple_spc" name="simple_spc" value="71001519882453" />
   <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "71001519882453-71001519882453";
  </script>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-xs-12 no-padding v-top foot-v-center no-border">
            <div class="footer-grid no-padding-right">
            	<a href="/"><img src="/images/logo-footer.png" alt=""/></a><br><br>
               
                </div>
            </div>
            
        
        </div>
    </div>
    <div class="container">
    	<div class="footer-bottom-wrapper">
    	<div class="col-sm-4 no-padding"><div class="footer-copyright">AQUA WAIKIKI PEARL HOTEL
&copy; 2017</div></div>
        <div class="col-sm-4 no-padding"><!--<div class="footer-languages"><a href="#" class="active">English</a> - <a href="#">Español</a> - <a href="#">Deutsch</a></div>--></div>
        <div class="col-sm-4 no-padding"><div class="footer-social"><!-- <a href="#" target="_blank"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/aquawaikikipearl" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/aquaresorts" target="_blank"><i class="fa fa-twitter"></i></a></div></div>
    </div>
    </div>
</footer>
