<footer>
    <div class="footer-wrapper four-coloumn">
        <div class="container">
            <div class="col-md-3 col-sm-6 no-padding v-top">
                <div class="footer-grid no-padding-left">
                    <h2>Contact Us</h2>
                    <p><a href=" https://goo.gl/maps/r8pkqnmnqWT2" target="_blank"><span class="block-element">415 Nahua St</span>
                        <span class="block-element">Honolulu, HI 96815</span></a>
                        <span class="block-element"><a href="tel:808.922.1616">(808) 922-1616</a></span>
                        <span class="block-element"><a href="https://www.pearlhotelwaikiki.com/special/#pet-friendly-package-save-50percent-off" target="_blank"><img src="/images/pet.png" alt="pet"/></a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 no-padding v-top">
                <div class="footer-grid">
                    <h2>Links</h2>
                    <ul>
                        {% for items in site.data.navigation.footernav %}
                        <li><a href="{{ items.url }}" rel="nofollow">{{ items.title }}</a></li>
                        {% endfor %}       
                        <li><a href="//cdn.traveltripper.io/site-assets/192_655_10420/media/2017-12-20-054318/pearl-hotel-waikiki-fact-sheet.pdf" target="_blank" title="Fact Sheet">Fact Sheet</a></li>               
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 no-padding v-top">
                <div class="footer-grid">
                    <h2>Newsletter</h2>
                    <form class="jotform-form" action="https://web2.cendynhub.com/FormPost/FormPost.ashx" method="post" name="form_7069F855-4AC2-4ADC-9D27-C962B947A3C3" id="7069F855-4AC2-4ADC-9D27-C962B947A3C3" accept-charset="utf-8">
                        <input type="hidden" name="formID" value="7069F855-4AC2-4ADC-9D27-C962B947A3C3" />
                        <div class="form-holder">
                            <input type="email" class=" form-textbox validate[required] input-text" data-type="input-textbox"  id="input_3" name="emailAddress" size="21" value="" placeholder="Enter Your Email..." required="required" /> 
                            <button id="input_2" type="submit" type="submit" class="form-submit-button form-btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-xs-12 no-padding v-top foot-v-center no-border">
                <div class="footer-grid no-padding-right">
                    <a href="/"><img src="/images/logo-footer.png" alt="logo"/></a>
                    <div class="footer-social">
                        <a href="https://www.facebook.com/pearlhotelwaikiki/" rel="nofollow" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="https://www.instagram.com/pearlhotelwaikiki/" rel="nofollow" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
                        <a id="snapChatIcon" href="#" data-toggle="modal" data-target="#snapchatModal" rel="nofollow" title="Scan Snapchat"><i class="fa fa-snapchat fa-2x" src="/images/Pearl-Hotel-Waikiki-snapcode.png"></i></a>
                        <!-- <img id="myImg" src="/images/Pearl-Hotel-Waikiki-snapcode.png" alt="" width="30" height="30"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom-wrapper">
            <div class="col-sm-4 no-padding">
                <div class="footer-copyright"><a href="https://www.pearlhotelwaikiki.com/" target="_blank" title="Pearl Hotel Waikiki">Pearl Hotel Waikiki
                    &copy; 2017</a>
                </div>
            </div>
            <div class="col-sm-4 no-padding">
                <!--<div class="footer-languages"><a href="#" class="active">English</a> - <a href="#">Español</a> - <a href="#">Deutsch</a></div>-->
            </div>
            <div class="col-sm-4 no-padding">
                <div class="footer-social">
                    <!-- <a href="https://www.instagram.com/pearlhotelwaikiki/" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/pearlhotelwaikiki/" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a> -->
                    <!-- <a href="https://twitter.com/aquaresorts" target="_blank"><i class="fa fa-twitter"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="snapchatModal" class="modal fade" role="dialog">
  <!-- <span class="close">&times;</span>  -->
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content snapmodel" >
        <h3 class="text-center">Scan Snapchat</h3>
        <img class="img-responsive" id="modalSnapChat">
        <div id="caption"></div>
    </div>
  </div>
</div>
