<section>
  <div class="container-fluid no-padding three-col-wrap">
      <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-1.jpg" alt=""/></div>
        <div class="col-sm-4 v-center three-col-content">
          <h3>new world</h3>
            <h2>Waikiki</h2> 
            <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne.</p>
        </div>
        <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt=""/></div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding three-col-wrap">
      
        <div class="col-sm-4 v-center three-col-content">
          <h3>adventure</h3>
            <h2><span class="block-element">playground</span>for all</h2> 
            <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne.</p>
        </div>
        <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt=""/>
          
        </div>
         <div class="col-sm-4 v-center three-col-content">
          <h3>explore</h3>
            <h2><span class="block-element">natural</span>wonders</h2> 
            <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne.</p>
        </div>
        
  </div>
</section>