<section>
  <div class="container-fluid no-padding three-col-wrap">
      <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-1.jpg" alt=""/></div>
        <div class="col-sm-4 v-center three-col-content">
          <h3>Pure Bliss</h3>
            <h2>Waikiki</h2> 
            <p>Welcome to paradise. Here your wildest dreams await.</p>
        </div>
        <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt=""/></div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding three-col-wrap">
      
        <div class="col-sm-4 v-center three-col-content">
          <h3>magical views</h3>
            <h2><span class="block-element">epic</span>adventures</h2> 
            <p>With its abundant wildlife and natural wonders, Waikiki is nothing short of awe-inspiring.</p>
        </div>
        <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt=""/>
          
        </div>
         <div class="col-sm-4 v-center three-col-content">
          <h3>Soothing Waves</h3>
            <h2><span class="block-element">Tropical </span>Oasis</h2> 
            <p>Watch your troubles wash away as you gaze out over the crystal blue waters of the Pacific</p>
        </div>
        
  </div>
</section>