<nav class="header-wrapper">
  <div class="container">
    <div class="logo">
      <a href="/ja/"><img src="/images/logo.png" alt="パール・ホテル・ワイキキ" /></a>
    </div>
    <div class="main-menu">
      <ul class="nav">
        <li><a href="/ja/rooms/">客室</a></li>
        <li><a href="/ja/specials/">スペシャル</a></li>
        <li><a href="/ja/gallery/">ギャラリー</a></li>
        <li><a href="/ja/location/">ロケーション</a></li>
        <li><a href="/">English</a></li>
        <li><a href="/ko/">한국어</a></li>
      </ul>
    </div>
    <div class="menu-btn"></div>
    <div class="booknow">
      <a href="javascript:void(0)" show-booking-widget>今すぐ予約</a>
    </div>
  </div>
</nav>
<a class="newsletter-btn" href="#subscribe"><i class="fa fa-envelope"></i></a>