<nav class="header-wrapper">
    <div class="container">
      <div class="logo"> <a href="/ko/"><img src="/images/logo.png" alt="펄 호텔 와이키키"/></a> </div>
      <div class="main-menu">
        <ul class="nav">
         <li><a href="/ko/rooms/">객실</a></li>
         <li><a href="/ko/specials/">특별 행사</a></li>
         <li><a href="/ko/gallery/">갤러리</a></li>
         <li><a href="/ko/location/">위치</a></li>
         <li><a href="/">English</a></li>
         <li><a href="/ja/">日本語</a></li>
        </ul>
      </div>
      <div class="menu-btn"></div>
      <div class="booknow"> <a href="javascript:void(0)" show-booking-widget>지금 예약</a> </div>
    </div>
  </nav>