<section class="container save-the-children-include">
  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive" src="/images/save-the-children-logo.png" alt="セーブ ザ チルドレン">
    </div>
    <div class="col-md-6">
      <div class="description-center">
        <h5>今すぐ寄付して未来に光を</h5>
        <p>お客様の寄付は100%セーブ ザ チルドレンの活動に役立てられます。ご協力のほど何卒よろしくお願いいたします。</p>
      </div>
    </div>
    <div class="col-md-3 btn-holder">
       <a href="https://www.gofundme.com/highgate-2017-winter-campaign" target="_blank" class="button-common btn-blue">さあ寄付しよう</i> 
      </a>
    </div>
  </div>
</section>