<section class="container save-the-children-include">
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="/images/save-the-children-logo.png" alt="세이브더칠드런">
      </div>
      <div class="col-md-6">
        <div class="description-center">
          <h5>지금 기부하여 세상을 바꾸는 일에 동참</h5>
          <p>기부금은 전액 세이브더칠드런에 전달됩니다. 도움의 손길을 주셔서 감사합니다. </p>
        </div>
      </div>
      <div class="col-md-3 btn-holder">
        <!-- <a href="/charities/" class="button-common btn-blue">추가 정보</i></a> -->
      </div>
    </div>
  </section>