.footer-wrapper {
	width: auto;
	padding: 40px 0px;
	background-color: $bg-ash-4;
	font-family: $main-font-regular;
	font-size: 14px;
	color: $tc-white;
	letter-spacing: 2px;
	
	@media (max-width: 767px){
			padding: 20px 0px;
			text-align: center;
		}
		
	.container {
		/*@media (min-width: 1300px){
			width: 1270px;
		}
		width: 1275px;
		@media (max-width: 1299px){
			width: auto;
		}*/
	}
	h2{
		text-transform: uppercase;
		font-size: 14px;
		padding-bottom: 20px;
	}
	p{
		line-height: 22px;
		
	}
}
.footer-grid {
	
	padding: 5px 46px;
	
	&.no-padding-left {
		padding-left: 0;
	}
	
	&.no-padding-right {
		padding-right: 0;
	}
	
	a{
		color: $tc-white;
		&:hover {
			color: #aaaaaa;
		}
	}
	@media (max-width: 1210px){
			padding: 5px 15px;
		}
	@media (max-width: 991px){
			padding: 15px 0px 15px 0px;
		}
	ul {
		li{
			list-style-type: none;
			a{
				color: #fff;
				padding: 1px 0;
				display: inline-block;
			}
		}
	}
}
.input-text {
	border: solid 2px #fff;
	background-color: transparent;
	padding: 12px 20px;
	font-size: 14px;
	font-style: italic;
	width: 100%;
	border-radius: 0px;
		@media (max-width: 767px){
			text-align: center;
		}
}
.input-text:focus {
	outline: none;
}
.form-holder {
	width: auto;
	@media (max-width: 992px){
			width: 290px;
		}
		@media (max-width: 767px){
			margin: 0 auto;
		}
}
.form-btn {
	-webkit-appearance: none;
	appearance: none;
	border: solid 2px #fff;
	background-color: transparent;
	font-family: $main-font-medium;
	font-size: 14px;
	text-align: center;
	padding: 12px 50px;
	text-transform: uppercase;
	margin-top: 17px;
		@media (max-width: 767px){
			width: 100%;
		}
	
	&hover {
	}
}
@media (min-width:992px){

.four-coloumn {
	display: table;
	width: 100%;
}

.v-top {
	display: table-cell;
	vertical-align: top;
	float: none;
	border-right: solid 1px #5c5c5c;
}
.foot-v-center {
	vertical-align: middle;
	text-align: center;
	border: none;
}
.no-border {
	border: none;
}
}

.footer-bottom-wrapper{
	color: $tc-ash-1;
	
.footer-copyright {
	font-family: $main-font-regular;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 45px;
	
	@media (max-width: 767px){
			text-align: center;
			line-height: 35px;
		}
}

}
.footer-languages {
	text-align: center;
	font-size: 11px;
	color: $tc-ash-1;
	
	
	
	a{
		font-size: 11px;
		font-family: $main-font-light;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $tc-ash-1;
		display: inline-block;
		padding: 15px 10px;
		
		@media (max-width: 1023px){
			letter-spacing: 1px;
			padding: 15px 8px;
		}
		@media (max-width: 767px){
			padding: 2px 8px;
		}
		
		&.active {
			font-family: $main-font-medium;
		}
	}
	
}
.footer-social {
	text-align:right;
	line-height: 45px;
	
	@media (max-width: 767px){
			text-align:center;
			line-height: 35px;
		}
	
	.fa {
		color: $tc-ash-1;
		padding: 0 0 0 30px;
		
		@media (max-width: 767px){
			padding: 0 15px 0 15px;
			
		}
	}
	
}