.meetings{
	.meetings-wrap{
		.owl-controls{ margin-top:0px; position:relative;
			.owl-buttons{ position:absolute; bottom:0px; right:0px;
				.owl-prev{ position:relative; left:15px; top:inherit; bottom:-6px;transform:translateY(0);}
				.owl-next{position:relative; right:0px; top:inherit; bottom:-6px;transform:translateY(0);}
			}
		}
		.owl-item{ margin-bottom:2px;
			.item{ background:#1f4552;
			   img{ width:100%;
				&.banner{ opacity:0.7;}
			   }
			   .carousel-caption{left:70px; right:inherit;
			   		@media (max-width: 480px){ left:20px;}
					.caption-inner{ position:relative; bottom:inherit; text-align:left;
						p{ font-size:48px; letter-spacing:15px;
							@media (max-width: 480px){ font-size:18px; letter-spacing:2px;}
							@media (min-width: 481px) and (max-width:1024px){ font-size:24px;}
						}
						h1{ padding:30px 0 50px;
							@media (max-width: 480px){ padding:0px 0 10px; font-size:10px;}
							@media (min-width: 481px) and (max-width:1024px){ font-size:12px; padding:0px 0 20px;}
						}
					}
					@media (max-width: 480px){
						 bottom:0px; left:20px;
					}
					@media (min-width: 481px) and (max-width:1024px){
						 bottom:5px; left:30px;
					}
				}
			}
		}
		#sync2{
			.owl-item{
				opacity:1;

				.item{
					background:#1f4552;
					cursor: pointer;
					margin-right:2px;
					&:hover{
						img{opacity:0.7;}
					}
				}
				&.synced{
					.item{
						img{opacity:0.7;}
					}
				}
			}
		}
		#sync2 .item h1{
		  font-size: 18px;
		}
		#sync2 .synced .item{
		  background: #1f4552;
		}
	}
	.lifestyle{
		 text-align:center; background:#fbf8ef;
		 h3{font-size: 14px;
			text-transform: uppercase;
			font-family: "brandon_grotesquebold";
			letter-spacing: 5px; padding:66px 0;
		 }
		 p{ font-size:32px; text-transform:uppercase; color:#006f49; font-family: 'brandon_grotesquelight'; letter-spacing:5px; padding-bottom:72px; max-width:980px; margin:0 auto;
		 	@media (max-width: 767px){
				 font-size:18px;
			}
		 }
	}
	.white-bg{ position:relative;
		.about-wrap{
			&.amenities-charge{
				&.grey-bg{
					background-color: #f8f7f7;
				}
				margin: 50px auto;
				h2{
					padding-bottom: 20px;
				}
				h3{
					padding: 20px 0;
				}
				p{
					padding: 0;
					max-width: 65%;
					margin-top: 10px;
				}
				.btn-holder{
					margin-top: 25px;
				}
				ul{
					text-align: left;
					max-width: 550px;
					margin: 0 auto;
					li{
						font-family: $light;
						font-size: 18px;
						line-height: 30px;
					}
				}
			}
			text-align: center;
			padding: 15px 15px;
			color: #333333;
			@media (max-width: 480px){
				padding:10px 10px;
			}
			h3 {
				font-size: 14px;
				text-transform: uppercase;
				font-family: 'Lato-Black';
				letter-spacing: 5px;
				padding-bottom:40px;
			}
			p{ max-width:550px; margin:0 auto;}

			.btn-blue{
				color:$bg-blue-3;

				&:hover{
					color:#fff;
				}
			}

		}
		.graphic-1{
				position: absolute;
				bottom: 20px;
				right: 0;
				width: 150px;

				@media(min-width: $screen-sm-min){
					width: 150px;
					bottom: 20px;
				}
				@media(min-width: $screen-md-min){
					width: 200px;
					bottom: 35px;
				}
				@media(min-width: $screen-lg-min){
					width: 270px;
					bottom: 53px;
				}

				img {
					width: 100%;
				}
			}
			.graphic-2{
				position: absolute;
				bottom: -40px;
				left: 0;
				width: 150px; z-index:2;

				@media(min-width: $screen-sm-min){
					width: 210px;
					bottom: 0px;
				}
				@media(min-width: $screen-md-min){
					width: 300px;
					bottom: 0px;
				}
				@media(min-width: $screen-lg-min){
					width: 429px;
					bottom: -60px;
				}
				img {
					width: 100%;
				}
			}
	}
	.two-col-wrap{
		&.boxed{ margin:60px auto;
			@media (max-width: 767px){
				margin:20px auto;
			}
		}
		a{ color:#fff;}

		.blue-bg{
			.two-col-content{
				.amenities{
					ul{
						margin: 0 auto;
						padding-left: 20px;
						padding-top: 15px;
						max-width: 80%;
						li{
							font-family:$light;
							font-size: 18px;
							line-height: 28px;
							list-style-type: disc;
							text-align: left;
						}
					}
					p {
						padding: 0;
						text-align: left;
						width: 80%;
					}
				}
				@media (max-width: 1024px){ padding:30px 15px;}
				h3{color:#fff;}
				p{color:#fff; width:62%;
					&.wide{ width:82%;}
				}
				@media (max-width: 767px){
					 padding:40px 0;
				 	p{color:#fff; width:80%;
						&.wide{ width:80%;}
					}
				}
			}
		}
	}
	.lifestyle{ background:#fff; padding:30px 0 90px; position:relative;
		@media (max-width: 767px){ padding:30px 0 60px;}
		p{font-family:$light; padding-bottom:45px;color:$bg-blue-1}
		.stamp2{ position:absolute; right:0; top:calc(50% - 150px); width:100px;
			img{ width:100%;}
			@media (max-width: 767px){display:none;}
		}
	}
	.home-specials-item2{background-color: #ffffff;
		color: #333333;
		text-align: center;
		margin: 0 15px;
		position: relative;
		img{ width:100%;}
	}
	.mo{ position:relative;
	}
	.graphics {
		position: absolute;
		max-width: 1200px;
		margin: 0 auto;
		height: 18px;
		top: -9px;
		right: 0;
		left: 0;
		background-image: url(../images/floating/line-diagonal.png);
		background-repeat: repeat-x;
		background-position: center center;
	}
}


.rfp-callus{
	color: #333333;
	font-family: $light;
	font-size: 20px;
	letter-spacing: normal;
	text-transform: none;
	line-height: 40px;
}

.rfp-phone{
	background-color: #ffffff;
	font-family: $light;
	font-size: 20px;
	letter-spacing: normal;
	text-transform: none;
}

.group-banner{background: url(/images/groups-banner.jpg) no-repeat center center;background-size: cover;}
.amenities-banner{background: url('//cdn.traveltripper.io/site-assets/192_655_12459/media/2018-02-22-024217/amenities-banner.jpg') no-repeat center center;background-size: cover;}

.meetings-addresses{
	color:#fff;

	.title-add{

			font-family:$medium;
			color:#fff;
			line-height:20px;
			letter-spacing:1px;
			padding: 20px 0px 10px 0px;

		}
	.dash{
			    width: 46px;
			    border-bottom: 1px solid $bg-blue-1;
			    padding-top: 16px;
			    margin: 0 auto;

	}
	a{
		letter-spacing:1px;
	}
	ul{
		li{
			.airport-wrap{

				&:hover{
					color:black;
				}
			}
		}
	}
}
.m-t-100{
	margin-top: 100px;
}
