.special-banner-bar {
    margin: 0px auto;
    text-align: center;
    max-width: 1240px;
    background-color: $brand-color;
    padding: 15px 0;
    @media (max-width: 1256px){
        margin-top: 50px;
    }
    @media (max-width: 1239px){
        margin-top: 95px;
    }
    @media (max-width: 1180px){
        margin-top: 10px;
    }
    @media (max-width: 480px){
        margin-top: 18px;
    }
    h2,a {
        display: inline-block;
        margin: 0 15px 0;
        vertical-align: middle;
    }
    h2 {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 22px;
        strong {
            letter-spacing: 1px !important;
        }
    }
}
