---
layout: default
---

<div  class="room-details special-details" rt3-special-rates= "offers" ng-controller="offerDetail" >

  <section>
    <div class="container no-padding">
      <div class="page-banner specials-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
        <h1 class="page-title">Specials</h1>
      </div>
    </div>
  </section>
  <div class="container">
    <ul class="gallery-nav">

      <li ng-repeat="o in offers.special_rates"><a ng-href="/special/#[[o.rate_plan_name | formatNameForLink]]" ng-class="{active: offers.sRdetail.rate_plan_code == o.rate_plan_code}" >[[o.rate_plan_name]]</a></li>

    </ul>
  </div>
  <section>
    <div class="container room-details-carousel" >
      <div class="row">
      <div class="col-sm-3 col-xs-12">
          <div class="spcl-lstng">
          	<h2>Special Offer</h2>
            <h3><span class="block-element">[[offers.sRdetail.rate_plan_name]]</h3>
            <div class="booknow"> <a ng-href="[[offers.sRdetail.promo_url]]" target="_blank">Book Now</a> </div>
            <div class="btn-holder extra padding"><a href="mailto:reservations@hotel24north.com" class="button-common btn-blue">Contact Us</i></a></div>
            <p ng-bind-html="offers.sRdetail.short_description | renderHTMLCorrectly"></p>
            <p>
               <!--<strong><span ng-show="!offers.sRdetail.booking_end_date">Available From: </span>
                    [[offers.sRdetail.booking_start_date | date:"MM-dd-yyyy"]]
                    <span ng-show="[[offers.sRdetail.booking_end_date]]">until<br> [[offers.sRdetail.booking_end_date | date:"MM-dd-yyyy"]]</span>
               </strong>-->
            </p>
          </div>
      </div>
      <div class="col-sm-9 col-xs-12">

          <div id="roomDetailsCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators" ng-show="offers.sRdetail.images.length>1">
              <li data-target="#roomDetailsCarousel" ng-repeat ="photo in offers.sRdetail.images" data-slide-to="[[$index]]"  ng-class="{'active': $index == 0}"></li>

            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <div class="item"  ng-repeat ="photo in offers.sRdetail.images" ng-class="{'active': $index == 0}">
                <img ng-src="[[photo.yankee_large]]" alt=""/>
              </div>


            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section class="lifestyle">
  	<div class="container-fluid">
    	<h3>About the offer</h3>
        <p ng-bind-html="offers.sRdetail.long_description | renderHTMLCorrectly"></p>
    </div>
  </section>
  <section ng-show="offers.sRdetail.addons.length > 0">
    <div class="container-fluid">

      <div class="row details-intro style2">
      	<div class="holds">

        <h2>this offer includes</h2>
        <ul>
            <li ng-repeat ="addon in offers.sRdetail.addons" >[[addon]]</li>
         </ul>

        <div class="badger"><img src="../../images/rooms/room-details/logo-details.png" width="160" height="144" alt=""/></div>
      </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row information">
        <div class="col-md-5 align-center"><img src="../../images/specials/special-details/photo-patch-spcls.png" width="296" height="386" alt=""/></div>
        <div class="col-md-7 p-l-0">
          <p class="highlight p-t-35">Terms & Conditions:</p>
          <ul class="lst p-b-25">

          	<li ng-repeat="terms in offers.sRdetail.policy_description " ng-bind-html="terms | replaceNewline | renderHTMLCorrectly">[[terms]]</li>

          </ul>
          <p class="highlight">Need assistance? Our dedicated reservations team is available around the clock:</p>
          <p class="p-b-25">24 North Hotel Service Centre on <a href="tel:800-222-4828" >800-222-4828</a>  or <br>
            e-mail <a href="mailto:reservations@hotel24north.com" >reservations@hotel24north.com</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large">More Specials</h2>

        {%  include special-offers.html %}

        <div class="stamp-blue"><img src="../../images/specials/special-details/stamp-blue.png" alt=""/></div>
        <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
