--- 
language: ko 
title: 와이키키 비치 인근 호텔 | 펄 호텔 와이키키 위치
seo_description: 아름다운 와이키키 비치 중심부에 위치해 편리합니다. 호텔 입구에서 조금만 걸으면 인기 있는 레스토랑, 다양한 상점, 세계적으로 유명한 해변이 펼쳐집니다.  
site_name: 펄 호텔 와이키키
---

<!DOCTYPE html>
<html lang="{{ page.language }}">

        {% include head.html %}

	<body id="top" ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser" ng-cloak>
            <input type="hidden" id="siteLang" value="ko">

            {% include google-tag-manager.html %}
            {% include header-ko.html %}

			<section>
    
    <div class="container no-padding">
        <div class="page-banner location-banner">
            
            
            <div class='tt-region' data-region='en/location/index.html/banner-heading.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h1 class="page-title" style="background-color: rgba(0, 0, 0, 0.4);">위치</h1></div></div>
        </div>
    </div>
</section>
<section class="loc-main">
    <div class="loc-main-inner">
        <div class="container loc-content">
            
            <div class="col-sm-7">
                <div class="loc-con-inner">
                    <div class="left-column">
                        <div class='tt-region' data-region='en/location/index.html/accessability.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2 class="no-top-padding">접근성</h2>
<p>호놀룰루 국제 공항에서 단 16km 떨어진 위치에 있는 <a title="와이키키의 펄 호텔" href="https://www.pearlhotelwaikiki.com/">펄 호텔 와이키키</a>는 최고의 상점, 레스토랑, 명소가 모여 있는 분주한 도시의 중심부에 있으며 국제 시장에서 1블록,| 유명한 와이키키 비치에서 1.5블록 거리에 있습니다. </p></div></div>
                        
                        <!-- <div class='tt-region' data-region='en/location/index.html/overview.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>Transfer</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div></div> -->
                        <div class='tt-region' data-region='en/location/index.html/directions.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>오시는 길 안내</h2>
<p>호놀룰루 국제 공항에서 동쪽 방향 Interstate H-1을 타고 호놀룰루 방면으로 향합니다. King Street에서 Honolulu Zoo/Waikiki 방면 출구로 빠져나온 다음 Harding Avenue로 주행합니다. Kapahulu Avenue에서 우회전합니다. 이어서 Kuhio Avenue에서 우회전합니다. 마지막으로 Nahua Street에서 우회전합니다. <a title="아쿠아 와이키키 리조트" href="/ko/">펄 호텔 와이키키</a>는 415 Nahua Street에 있습니다. </p></div></div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-sm-5">
                <div class="right-column">
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/address.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>주소</h3>
<a href="https://goo.gl/maps/7XPxRyZHMsH2" target="_blank"><p>415 Nahua St <br>Honolulu, HI 96815</p></a></div></div>
                    </div>
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/contanct.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>연락처</h3>
<p><a href="tel:(808) 922-1616">(808) 922-1616</a><br /><a href="tel:(855) 518-3455">(855) 518-3455</a><br /><a href="mailto:reservations@pearlhotelwaikiki.com">reservations@pearlhotelwaikiki.com<br /><br /></a></p></div></div>
                    </div>
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/check-in.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>체크인</h3>
<p>체크인 시간:<br />15:00/오후 3:00<span class="extra-padding">체크아웃 시간:</span>12:00/정오</p></div></div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<section class="bt">
    <div class="container no-padding">
        
        <div class="cta-theme cta-theme-location">
            <div class="pf-wrap">
                <div class='tt-region' data-region='en/location/index.html/paradise-found-booknow.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>되찾은 낙원</h2>
<div><a class="button-common btn-white" href="https://pearlwaikiki.reztrip.com/?locale=ko" target="_blank">지금 만나 보세요<i class='fa fa-play'></i></a></div></div></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="home-location-wrap location-map">
            <h2>위치</h2>
            <h3>오아후 탐험</h3>
            <div class="container-fluid show-case">
                <div class="row">
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-1.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='/images/show-case-1.jpg' alt=''/></div></div></div></div>
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-2.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='/images/shuttle.jpg' alt=''/></div></div></div></div>
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-3.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='/images/show-case-3.jpg' alt=''/></div></div></div></div>
                    
                </div>
            </div>
            <div class="map-wrap"><img src="/images/map.jpg" alt="위치"/></div>
            <div class="map-label"><img src="/images/logo-footer.png" alt=""/></div>
            <!-- <h2>a few sites in driving distance</h2>
            <p><span class="cap">A</span> International Market Place 3 mins <span class="cap">B </span>Ala Moana Center 12 min <span class="cap">C</span>  Diamond Head State Monument 14 min <span class="cap">D</span> Snorkeling at Hanauma Bay 25 min <span class="cap">E</span> Honolulu Zoo 6 min <span class="cap">F</span> Waikiki Aquarium 9 min  <span class="cap">G</span> Manoa Falls 17 min <span class="cap">H</span> Magic Island 10 min <span class="cap">I</span> Pearl Harbor 42 min <span class="cap">J</span> Iolani Palace 14 min <span class="cap">K</span> Bishop Museum 12 min </p> -->
             
            <div class='tt-region' data-region='en/location/index.html/driving-distance.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>자동차 이동 거리 내의 명소</h2><p><span class="cap">A</span> 국제 시장 3분 <span class="cap">B </span>알라 모아나 센터 12분 <span class="cap">C</span> 다이아몬드 헤드 스테이트 모뉴먼트 14분 <span class="cap">D</span> 하나우마 베이 스노클링 25분 <span class="cap">E</span> 호놀룰루 동물원 6분 <span class="cap">F</span> 와이키키 수족관 9분 <span class="cap">G</span> 마노아 폭포 17분 <span class="cap">H</span> 매직 아일랜드 10분 <span class="cap">I</span> 진주만 42분 <span class="cap">J</span> 이올라니 궁전 14분 <span class="cap">K</span> 비숍 박물관 12분 </p></div></div>		
            
           
            
            <div><a href="https://goo.gl/maps/7XPxRyZHMsH2" class="button-common btn-blue" target="_blank">호텔로 오시는 길<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>
<section class="hdct">
    <div class="container-fluid no-padding">
        
        <div class="natural-wonders"><h2>경이로운 자연 환경</h2></div>
        
    </div>
</section>
<section>
  <div class="container-fluid no-padding three-col-wrap">
      <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-1.jpg" alt=""/></div>
        <div class="col-sm-4 v-center three-col-content">
          <h3>순수한 행복</h3>
            <h2>와이키키</h2> 
            <p>낙원에 오신 것을 환영합니다. 여기에 가장 강렬한 꿈의 휴가가 기다리고 있습니다. </p>
        </div>
        <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt=""/></div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding three-col-wrap">
      
        <div class="col-sm-4 v-center three-col-content">
          <h3>마법과 같은 풍경</h3>
            <h2><span class="block-element">환상적인</span>모험</h2> 
            <p>다양한 야생 동물과 경이로운 자연 환경으로 둘러싸인 와이키키는 경외심을 불러일으키는 놀라움으로 가득 차 있습니다. </p>
        </div>
        <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt=""/>
          
        </div>
         <div class="col-sm-4 v-center three-col-content">
          <h3>부드러운 파도</h3>
            <h2><span class="block-element">열대의 </span>오아시스</h2> 
            <p>수정처럼 푸른 태평양 바다를 바라보면서 마음 속의 근심이 씻겨 내려가는 것을 느껴 보세요. </p>
        </div>
        
  </div>
</section>
<section class="hdct">
    <div class="container-fluid no-padding">
        
        <div class="livethesprit"><h2>알로하 정신<br>체험</h2></div>
        
    </div>
</section>

{% include save-the-children-ko.html %}
{% include footer-ko.html %}
{% include scripts.html %}

	</body>
</html>
