---
layout: default
---
<div class="room-details special-details event-details">
 <!-- <section>
    <div class="container no-padding">
      <div class="page-banner specials-banner">
        <div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
        <h1 class="page-title">Specials</h1>
      </div>
    </div>
  </section>-->
  <!--<div class="container">
    <ul class="gallery-nav">
      <li><a href="#" class="filter active" >Grand Opening Special</a></li>
      <li><a href="#"  class="filter" >Book Early Special</a></li>
    </ul>
  </div>-->
  <section>
    <div class="container room-details-carousel">
      <div class="row event-heading">	
      <div class="col-sm-3 col-xs-12">
          <div class="spcl-lstng">
          	<h3>Holiday Historic Inn Tours</h3>
            <div class="btn-holder m-b-20"><a href="#details" class="button-common btn-blue">View Details</a></div>
            <h2>DECEMBER 9th, 2016 - 6pm to 8pm</h2>
          </div>
      </div>
      <div class="col-sm-9 col-xs-12 no-padding">
          <div id="roomDetailsCarousel" class="carousel slide"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#roomDetailsCarousel" data-slide-to="0" class="active"></li>
             
            </ol>
            
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              
              <div class="item  active">
                <img src="/images/events/event-details/holiday03.jpg" alt=""/>
              </div>
              
            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
  <section id="details">
    <div class="container">
      <div class="row information">
        <div class="col-md-4 align-center hidden-sm-down"><img src="../../images/events/event-details/holiday02.jpg" alt=""/></div>
        <div class="col-md-8 col-sm-12">
          <p class="highlight p-t-20">Event Details:</p>
          <p class="">Enjoy an enchanted evening of five decorated inns and a sampling of holiday treats and cheer at each property. From 6-8 p.m., tours are self guided. Free trolley transportation is provided between inns but participants are welcome to bike or use their own transportation. Call the Lodging Association for tickets.</p>
         <div class="btn-holder m-b-20 m-t-30"><a href="http://keywestinns.com/index.php/events/key-west-holiday-fest" target="_blank" class="button-common btn-blue">View Event Website</a></div> 
         
        </div>
        
      </div>
    </div>
  </section>
  <section class="more-spls">
    <!--<div class="graphics"></div>-->
    <div class="container-fluid no-padding home-specials-wrap">
      <div class="container">
        <h2 class="heading-large">More Events</h2>
        <div id="home-carousel-2">
          <div class="item">
            <div class="home-specials-item2"> <img src="../../images/events/event-details/01.jpg" alt=""/>
              <div class="car-content">
                <h3>KEY WEST TRIATHLON & EXPO</h3>
                <p>Swim in the Atlantic Ocean, bike along US1 and run along Smathers Beach...</p>
              </div>
              <a href="#" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../images/events/event-details/02.jpg" alt=""/>
              <div class="car-content">
                <h3>KEY WEST LIGHTED BIKE RIDE</h3>
                <p>The Lighted Bike Ride helps to gather the needed toys for the struggling...</p>
              </div>
              <a href="#" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../images/events/event-details/03.jpg" alt=""/>
              <div class="car-content">
                <h3>HOLIDAY HISTORIC INN TOURS</h3>
                <p>Enjoy an enchanted evening of five decorated inns and a sampling of holiday...</p>
              </div>
              <a href="#" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
          <div class="item">
            <div class="home-specials-item2">  <img src="../../images/events/event-details/04.jpg" alt=""/>
              <div class="car-content">
                <h3>NUTCRACKER KEY WEST</h3>
                <p>Inspired by the unique and colorful environment of the Florida Keys, Clara...</p>
              </div>
              <a href="#" target="_blank" class="button-common btn-top">View Event</a> </div>
          </div>
        </div>
        <div class="stamp-blue"><img src="../../images/specials/special-details/stamp-blue.png" alt=""/></div>
        <div class="btn-holder-with-padding"><a href="/events/" class="button-common btn-blue">View all Events<i class="fa fa-play"></i></a></div>
      </div>
    </div>
  </section>
</div>
