--- 
language: ja 
title: ワイキキビーチに近いホテル | パール・ホテル・ワイキキのロケーション
seo_description: 美しいワイキキの中心部にある便利な立地です。人気のレストランや多くのお店、世界的に有名なビーチまで徒歩圏内です。
site_name: パール・ホテル・ワイキキ
---
<!DOCTYPE html>
<html lang="{{ page.language }}">
    
    {% include head.html %}

	<body id="top" ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser" ng-cloak>
        <input type="hidden" id="siteLang" value="ja">
        <input type="hidden" id="roomCode" value="[[ details.code ]]">
        {% include google-tag-manager.html %} 
        {% include header-ja.html %}

			<section>
    
    <div class="container no-padding">
        <div class="page-banner location-banner">
            
            
            <div class='tt-region' data-region='en/location/index.html/banner-heading.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h1 class="page-title" style="background-color: rgba(0, 0, 0, 0.4);">ロケーション</h1></div></div>
        </div>
    </div>
</section>
<section class="loc-main">
    <div class="loc-main-inner">
        <div class="container loc-content">
            
            <div class="col-sm-7">
                <div class="loc-con-inner">
                    <div class="left-column">
                        <div class='tt-region' data-region='en/location/index.html/accessability.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2 class="no-top-padding">利便性</h2>
<p>ホノルル国際空港からわずか約16kmの<a title="ワイキキのパール・ホテル" href="https://www.pearlhotelwaikiki.com/">パール・ホテル・ワイキキ</a>は、人気のお店やレストラン、見どころが詰まった賑やかな街の中心部にあります。|インターナショナルマーケットプレイスから1ブロック、有名なワイキキビーチから1.5ブロックの距離です。</p></div></div>
                        
                        <!-- <div class='tt-region' data-region='en/location/index.html/overview.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>Transfer</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div></div> -->
                        <div class='tt-region' data-region='en/location/index.html/directions.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>アクセス</h2>
<p>ホノルル国際空港から、ホノルルに向かって州間高速道路H-1を東方面に進みます。ホノルル動物園／ワイキキに向かうキング・ストリート（King Street）で高速を降り、ハーディング・アベニュー（Harding Avenue）に入ります。カパフル・アベニュー（Kapahulu Avenue）を右折します。次にクヒオ・アベニュー（Kuhio Avenue）を右折します。最後にナフア・ストリート（Nahua Street）を右折します。<a title="アクア ワイキキ リゾート" href="/ja/">パール・ホテル・ワイキキ</a>はナフア・ストリート415番地にございます。</p></div></div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-sm-5">
                <div class="right-column">
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/address.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>住所</h3>
<a href="https://goo.gl/maps/7XPxRyZHMsH2" target="_blank"><p>415 Nahua St <br>Honolulu, HI 96815</p></a></div></div>
                    </div>
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/contanct.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>お問い合わせ</h3>
<p><a href="tel:(808) 922-1616">（808） 922-1616</a><br /><a href="tel:(855) 518-3455">（855） 518-3455</a><br /><a href="mailto:reservations@pearlhotelwaikiki.com">reservations@pearlhotelwaikiki.com<br /><br /></a></p></div></div>
                    </div>
                    <div class="address-wrap">
                        <div class='tt-region' data-region='en/location/index.html/check-in.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h3>チェックイン</h3>
<p>チェックイン時間：<br />午後3時<span class="extra-padding">チェックアウト時間</span>正午12時</p></div></div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<section class="bt">
    <div class="container no-padding">
        
        <div class="cta-theme cta-theme-location">
            <div class="pf-wrap">
                <div class='tt-region' data-region='en/location/index.html/paradise-found-booknow.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>楽園はここに</h2>
<div><a class="button-common btn-white" href="https://pearlwaikiki.reztrip.com/?locale=ja" target="_blank">今すぐ予約する<i class='fa fa-play'></i></a></div></div></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="home-location-wrap location-map">
            <h2>ロケーション</h2>
            <h3>オアフを探検する</h3>
            <div class="container-fluid show-case">
                <div class="row">
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-1.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='../images/show-case-1.jpg' alt=''/></div></div></div></div>
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-2.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='../images/shuttle.jpg' alt=''/></div></div></div></div>
                    <div class="col-sm-4 no-padding"><div class='tt-region' data-region='en/location/index.html/showcase-img-3.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><div><img src='../images/show-case-3.jpg' alt=''/></div></div></div></div>
                    
                </div>
            </div>
            <div class="map-wrap"><img src="/images/map.jpg" alt="ロケーション"/></div>
            <div class="map-label"><img src="/images/logo-footer.png" alt=""/></div>
            <!-- <h2>a few sites in driving distance</h2>
            <p><span class="cap">A</span> International Market Place 3 mins <span class="cap">B </span>Ala Moana Center 12 min <span class="cap">C</span>  Diamond Head State Monument 14 min <span class="cap">D</span> Snorkeling at Hanauma Bay 25 min <span class="cap">E</span> Honolulu Zoo 6 min <span class="cap">F</span> Waikiki Aquarium 9 min  <span class="cap">G</span> Manoa Falls 17 min <span class="cap">H</span> Magic Island 10 min <span class="cap">I</span> Pearl Harbor 42 min <span class="cap">J</span> Iolani Palace 14 min <span class="cap">K</span> Bishop Museum 12 min </p> -->
             
            <div class='tt-region' data-region='en/location/index.html/driving-distance.json' data-region-type='html' data-region-classes=''><div class='tt-region_ped' data-ped-index='0' data-ped-type='html'><h2>車で行けるスポット</h2><p><span class="cap">A</span> インターナショナルマーケットプレイスまで3分 <span class="cap">B </span>アラモアナセンターまで12分 <span class="cap">C</span> ダイヤモンドヘッドまで14分 <span class="cap">D</span> シュノーケリングスポットのハナウマ湾まで25分 <span class="cap">E</span> ホノルル動物園まで6分 <span class="cap">F</span> ワイキキ水族館まで9分 <span class="cap">G</span> マノアの滝まで17分 <span class="cap">H</span> マジックアイランドまで10分 <span class="cap">I</span> パールハーバーまで42分 <span class="cap">J</span> イオラニ宮殿まで14分 <span class="cap">K</span> ビショップミュージアムまで12分 </p></div></div>		
            
           
            
            <div><a href="https://goo.gl/maps/7XPxRyZHMsH2" class="button-common btn-blue" target="_blank">ホテルへのアクセス<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>
<section class="hdct">
    <div class="container-fluid no-padding">
        
        <div class="natural-wonders"><h2>自然の驚異</h2></div>
        
    </div>
</section>
<section>
  <div class="container-fluid no-padding three-col-wrap">
      <div class="col-sm-4 no-padding v-center"><img src="/images/three-col-1.jpg" alt=""/></div>
        <div class="col-sm-4 v-center three-col-content">
          <h3>至福のひととき</h3>
            <h2>Waikiki</h2> 
            <p>楽園へようこそ。憧れの地があなたを待っています。</p>
        </div>
        <div class="col-sm-4 no-padding v-center"><img src="/images/three-col-2.jpg" alt=""/></div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding three-col-wrap">
      
        <div class="col-sm-4 v-center three-col-content">
          <h3>魅惑的な景色</h3>
            <h2><span class="block-element">壮大な</span>冒険</h2> 
            <p>豊かな野生生物や自然に囲まれたワイキキは、畏敬の念を抱かせる神々しさが漂う場所。</p>
        </div>
        <div class="col-sm-4 no-padding v-center seal"><img src="/images/three-col-3.jpg" alt=""/>
          
        </div>
         <div class="col-sm-4 v-center three-col-content">
          <h3>心地良い波</h3>
            <h2><span class="block-element">トロピカル</span>オアシス</h2> 
            <p>太平洋の透き通った青い海を眺めていると、日頃の悩みもすっかり洗い流されることでしょう。</p>
        </div>
        
  </div>
</section>
<section class="hdct">
    <div class="container-fluid no-padding">
        
        <div class="livethesprit"><h2>アロハスピリットを<br>肌で体験</h2></div>
        
    </div>
</section>

{% include save-the-children-ja.html %}
{% include footer-ja.html %}
{% include scripts.html %}

	</body>
</html>
