---
layout: default
---
<div class="meetings">


  <section>
      <div class="container no-padding">
        <div class="page-banner amenities-banner">
          {% regionblock amenities_heading1, type:header %}
            <h1 class="page-title">Amenities</h1>
          {% endregionblock %}
        </div>
      </div>
    </section>

<section>
  <div class="container-fluid no-padding two-col-wrap m-t-100">
    <div class="col-md-5 no-padding v-center blue-bg">
      <div class="two-col-content">
        <div class="meetings-addresses amenities">
          {% regionblock amenities_heading2, type:header %}
        <h3>HOTEL AMENITIES</h3>
        {% endregionblock %}
        {% regionblock amenities_content1, type:text %}
        <ul>
        <li>High-speed WiFi throughout the hotel*</li>
        <li>Self-Parking (limited spaces, $30 USD per day)</li>
        <li><strong>Airport</strong> Shuttle Transportation by <strong>Robert’s Hawaii.<a href=" https://www.airportshuttlehawaii.com/affiliate/pearl-hotel-waikiki-guests/" class="airport-wrap" target="_blank"> View Details.</a></strong></li>
        <li>Pet friendly (see pet policy)</li>
        <li>Coffee & tea in the lobby (7am - 9am)*</li>
        <li>DVD rental kiosk available in lobby*</li>
        <li>Local newspaper in lobby*</li>
        <li>Concierge services</li>
        <li>Self-service coin laundry</li>
        <li>Fax/Photocopying service</li>
        <li>Vending machine (snacks and drinks)</li>
        <li>Baggage storage</li>
        <li>ATM</li>
        <li>24-hour front desk</li>
        <li>Convenience store</li>
        <li>Extra Beds and Cribs available upon request, $25 USD plus tax per night (maximum 1 request per room)</li>
        <li>Wake up service</li>
        <li>Smoke-free property</li>
    </ul>
    {% endregionblock %}
    {% regionblock amenities_content9, type:text %}
    <p>*Included in Amenity Fee. Effective July 1, 2018, an Amenity Fee charge of $25 USD plus tax per room per night will be collected upon arrival. Charge and inclusions are subject to change at any time without notice.</p>
    {% endregionblock %}
        </div>
      </div>
    </div>
    <div class="col-md-7 no-padding v-center">
      {% regionblock amenities_image1, type:image %}
      <img src="/images/meetings/meetings-1.jpg" alt="Paradise Found" >
      {% endregionblock %}
    </div>
  </div>
</section>

<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap amenities-charge">
      {% regionblock amenities_heading3, type:header %}
      <h3>Pet policy:</h3>
      {% endregionblock %}
      {% regionblock amenities_content2, type:text %}
      <p>$35 USD per pet per night, maximum of 2 pets under 40 lbs are permitted per room. Please contact the property in advance for pet charges and restrictions. A refundable security deposit and taxable nightly fee applies. Subject to change at any time.</p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-md-7 no-padding v-center">
      {% regionblock amenities_image2, type:image %}
      <img src="/images/meetings/meetings-1.jpg" alt="Paradise Found" >
      {% endregionblock %}
    </div>
    <div class="col-md-5 no-padding v-center blue-bg">
      <div class="two-col-content">
        <div class="meetings-addresses amenities">
          {% regionblock amenities_heading4, type:header %}
        <h3>ROOM AMENITIES</h3>
        {% endregionblock %}
        {% regionblock amenities_content3, type:text %}
        <ul>
          <li>Air conditioning</li>
          <li>All non-smoking rooms</li>
          <li>Alarm clock/radio</li>
          <li>Blackout drapes</li>
          <li>Blu-ray/DVD player and Playstation®3 console*</li>
          <li>Coffee maker</li>
          <li>Coffee packets replenished daily</li>
          <li>Daily housekeeping service</li>
          <li>Hair dryer</li>
          <li>In-room safe*</li>
          <li>Iron/ironing board</li>
          <li>LCD TV</li>
          <li>Refrigerator</li>
          <li>Microwave</li>
          <li>Telephone with voicemail</li>
          <li>WiFi*</li>
          <li>Bathtub or Shower</li>
          <li>Balcony (Suites only)</li>
          <li>Accessible guestrooms available</li>
        </ul>
        {% endregionblock %}
        {% regionblock amenities_content4, type:text %}
        <p>*Included in Amenity Fee. Effective July 1, 2018, an Amenity Fee charge of $25 USD plus tax per room per night will be collected upon arrival. Charge and inclusions are subject to change at any time without notice.</p>
        {% endregionblock %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap amenities-charge grey-bg">
      {% regionblock amenities_heading5, type:header %}
      <h2>AMENITY FEE</h2>
      {% endregionblock %}
      {% regionblock amenities_content5, type:text %}
      <p>Provides guests the use of multiple services and activities in one convenient nightly charge.</p>
      <p>$25* USD plus tax per room per night.</p>
      {% endregionblock %}
      {% regionblock amenities_heading6, type:header %}
      <h3>Inclusions:</h3>
      {% endregionblock %}
      {% regionblock amenities_content6, type:text %}
      <ul>
        <li>High-Speed WIFI in guestroom and hotel public areas</li>
        <li>2 Aloha welcome drinks per room per stay</li>
        <li>DVD and Play-station kiosk available in lobby</li>
        <li>Coffee & tea in the lobby (7am – 9am)</li>
        <li>In-room coffee and tea.</li>
        <li>Use of beach towels</li>
        <li>Local and 800 calls</li>
        <li>$10 Activity credit from Elite Concierge</li>
        <li>Pick a “Pearl” Maui Divers International Market place: One per room per stay.</li>
        <li>Passport to Shopping – International Market Place discount book</li>
        <li>Local newspaper in the lobby</li>
        <li>Beach Chairs for use at the beach</li>
      </ul>
      {% endregionblock %}
      {% regionblock amenities_content7, type:text %}
      <p>*Effective July 1, 2018, an Amenity Fee charge of $25 USD plus tax per room per night will be collected upon arrival. Charge and inclusions are subject to change at any time without notice.</p>
      {% endregionblock %}
      <div class="btn-holder">
        {% regionblock amenities_content8, type:text %}
        <a class="button-common btn-blue" href="https://pearlwaikiki.reztrip.com/" target="_blank">Book Now</a>
        {% endregionblock %}
    </div>
  </div>
</section>

<section class="mo">
{% include more-rooms.html %}
</section>
<section>
  <div class="container-fluid show-case">
      <div class="row">
         <div class="col-sm-12 no-padding pattran">{% region showcase-flower-bg %}</div>
        </div>
    </div>
</section>
</div>
