---
layout: default
---

{% assign attraction = page %}
{% assign model = page %}

<section>
  <div class="container no-padding">
    <div class="page-banner rooms-banner" style="background-image: url({{attraction.image.url}});">
      <h1 class="page-title">{{attraction.attraction_type}}</h1>
    </div>
  </div>
</section>

<section>
<div class="container">
<div class="blog-list blog-detail attractions-details">
<div class="col-sm-5 no-padding">
<img src="{{attractions.thumbnail.url}}">
</div>
<div class="col-sm-7">
<div class="blog-item"> 
<h3>{{attraction.attraction_title}}</h3>
{{attraction.description}}
<a href="tel:{{attractions.contact}}">{{attraction.contact}}</a>
{{attraction.address}}
<div class="price">{{attraction.Price}}</div>
</div>
</div>

</div>
</div>
</section>