<!DOCTYPE html>
<html>
{% assign blog = page %}
{% assign model = page %}
{% assign seo_title = blog.seo_title %}
{% assign seo_description = blog.seo_description %}

{% include head.html %}

<body id="top" ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser" ng-cloak>

{% include header.html %}

<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-12 no-padding">
        <div>

            <div class="blog-item">
                <h1>{{blog.title}}</h1>
                <span class="post-details">{% assign d = blog.date | date: "%-d" %}
          {{ blog.date | date: "%B" }} 
          {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, 
          {{ blog.date | date: "%Y" }}</span>
                <div class="post-image-holder"><img src="{{blog.blogimage.url}}"  alt="{{blog.title}}" title="{{blog.title}}"  />
                  {% if blog.Image_caption != "" %}
                      {{blog.Image_caption}}
                  {% endif %}
                </div>
                 {{blog.more_content}}
                <div><a href="/blog" class="button-common btn-blue">See all Blog Posts<i class="fa fa-play"></i></a></div>
            </div>
        
     </div>
      </div>
      <!--<div class="col-md-4 no-padding">
        <div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>
      </div>-->
    </div>
  </div>
</section>  



{% include footer.html %}

{% include scripts.html %}

{% include booking-widget.html %}

</body>
</html>
