<!DOCTYPE html>
<html>
	{% include head.html %}

	<body id="top" ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-rooms-browser="browser" ng-cloak>
		
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB4L62Z"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% include header.html %}

			{{ content }}

		{% include footer.html %}

		{% include scripts.html %}

	</body>
</html>
