---
layout: default
---
<div class="events">
    <section>
      <div class="container no-padding">
        <div class="page-banner specials-bannner">
              {% region events-banner-content %}
        </div>
      </div>
    </section>

<ul class="gallery-nav events-filter-nav">
    <li><a href="javascript:;" data-rel="all" class="filter active" data-filter="all">All</a></li>
    {% assign catlist = site.data._models.event_category %} 

    {% for cat in catlist %}
    <li><a href="javascript:;" data-rel="{{cat.title}}" class="filter">{{cat.title}}</a></li>
    {% endfor %}
  </ul>

    {% assign events = site.data._models.events | sort : 'sort_order' %}
    {% for e in events %}
    {% capture cycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <section class="models fancybox" data-filter="{{e.category.title}}">
      <div class="container">
        <div class=" two-col-wrap">
          <div class="row no-gutters">
            {% if cycle == 'even' %}
            <div class="col-sm-6 sp-img "> <img src="{{e.thumb_image.url}}" alt=""></div>
            {% endif %}
          	<div class="col-sm-6 sp-content">
              <h2>{{e.name}}</h2>
              <div class="title">{{e.schedule}}</div>
              <div class="desp">{{e.short_description}}</div>
    		  <div class="btn-holder"><a href="/location/events/{{e.url}}"  class="button-common btn-blue">View this event<i class="fa fa-play"></i></a></div>
            </div>
            {% if cycle == 'odd' %}
            <div class="col-sm-6 sp-img "> <img src="{{e.thumb_image.url}}" alt=""></div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>


    {% endfor %}
</div>
