---
layout: default
---

<section>
  <div class="container no-padding">
    <div class="page-banner gallery-banner">
    	
      {% region gallery-banner-text %}
    </div>
  </div>
</section>

<section> 
  <!-- gallery wrap --> 
  <div class="gallery-wrapper">
    <div class="gallery-listing">
      <div class="container">
        <ul class="gallery-nav">
          <li><a href="javascript:;" class="filter active"  data-filter="all" data-rel="all" >All</a></li>
          <li><a href="javascript:;"  class="filter" data-rel="hotel">Hotel</a></li>
          <li><a href="javascript:;"  class="filter" data-rel="rooms">Rooms</a></li>
          <li><a href="javascript:;"  class="filter" data-rel="pool">Pool</a></li>
          <li><a href="javascript:;"  class="filter" data-rel="food">Food & Drink</a></li>
          <li><a href="javascript:;"  class="filter" data-rel="keywest">Key West</a></li>
        </ul>
      </div>
      <div class="container gallery-wrap" id="lightgallery">
        <ul class="row">
          {% assign hotel_images = site.data._models.gallery_hotel_images  | sort : "sort_order" %}
          {% for hotelimages in hotel_images %} 
                  <li class="col-md-4 col-sm-4  fancybox" data-filter="hotel">
                    <div class="item" data-src="{{ hotelimages.slider_image.url }}"> <img src="{{ hotelimages.thumb_image.url }}" class="img-responsive"/> </div> 
                  </li>
          {% endfor %}        

       
      {% assign rooms_images = site.data._models.gallery_rooms_images  | sort : "sort_order" %}
      {% for roomsimages in rooms_images %}         
                <li class="col-md-4 col-sm-4 fancybox" data-filter="rooms">
                  <div class="item" data-src="{{ roomsimages.slider_image.url }}"> <img src="{{ roomsimages.thumb_image.url }}" class="img-responsive"/> </div>
                </li>
      {% endfor %} 


      {% assign pool_images = site.data._models.gallery_pool_images  | sort : "sort_order" %}
      {% for poolimages in pool_images %}   
              <li class="col-md-4 col-sm-4 fancybox"  data-filter="pool">
                  <div class="item"  data-src="{{ poolimages.slider_image.url }}"> <img src="{{ poolimages.thumb_image.url }}" class="img-responsive"/> </div> 
                </li>   
      {% endfor %}

      {% assign foodndrink_images = site.data._models.gallery_foodndrink_images  | sort : "sort_order" %}
      {% for foodndrinkimages in foodndrink_images %} 
      <li class="col-md-4 col-sm-4  fancybox" data-filter="food">
          <div class="item" data-src="{{ foodndrinkimages.slider_image.url }}"> <img src="{{ foodndrinkimages.thumb_image.url }}" class="img-responsive"/> </div> 
        </li>    
      {% endfor %}       
  
      {% assign keywest_images = site.data._models.gallery_keywest_images  | sort : "sort_order" %}
      {% for keywestimages in keywest_images %}   
        <li class="col-md-4 col-sm-4  fancybox" data-filter="keywest">
          <div class="item" data-src="{{ keywestimages.slider_image.url }}"> <img src="{{ keywestimages.thumb_image.url }}" class="img-responsive"/> </div> 
        </li>   
      {% endfor %}        
         
        </ul>
      </div>
    </div>
    
    
    <!--<div class="btn-holder text-center"><a href="#" class="button-common btn-blue">load more images</a></div> -->
  </div>
  <!--/gallery wrap --> 
</section>
