---
layout: default
---  

<section>
  

  <div class="container no-padding">
  <div class="page-banner location-banner">
    
    <div class="graphic">{% region stamp-image-1 %}</div>

    {% region banner-heading %}

  </div>

</div>

</section>

<section class="loc-main">
<div class="loc-main-inner">
	<div class="container loc-content">
    	
    		<div class="col-sm-7">
            <div class="loc-con-inner">
        		<div class="left-column">
                	{% region accessability %}
                    
                    {% region overview %}


<p>

<span class="sb-img">{% region starbucks-logo-image %}</span><br><br>

{% region starbuck-section-1 %}

<!--We’re not just passionate purveyors of coffee, but everything else that goes with a full and rewarding coffeehouse experience. We also offer a selection of premium Tazo® teas, fine pastries and other delectable treats to please the taste buds. And the music you hear in store is chosen for its artistry and appeal.<br><br>

It’s not unusual to see people coming to Starbucks to chat, meet up or even work. We’re a neighborhood gathering place, a part of the daily routine – and we couldn’t be happier about it. Get to know us and you’ll see: we are so much more than what we brew.<br><br>-->
</p>

{% region cuban-inspired-walkmap %}
              

{% region old-town-shuttle-service %}


                    
              </div>
              </div>
              <div class="shuttle-graphic sg-desktop">{% region shuttle-graphic-image %}</div>
        	</div>
        	<div class="col-sm-5">
        		<div class="right-column">
                	<div class="address-wrap">
                        {% region address %}
                     </div>
                    <div class="address-wrap">
                        {% region contanct %}
                    </div>
                    <div class="address-wrap">
                         {% region check-in %}
                    </div>
                    <div class="address-wrap">
                         {% region gps %}
                    </div>
                    <!--<div class="btn-wrap">
                       <div><a href="#" class="button-common btn-blue">Download Map<i class="fa fa-play"></i></a></div>
                       <div class="extra-padding"><a href="#" class="button-common btn-blue">Download Fact Sheet<i class="fa fa-play"></i></a></div>
                        <div></div>
                    </div>-->
                </div>
        	</div>
            <div class="shuttle-graphic sg-mobile">{% region shuttle-graphic-image %}</div>
    </div>
    
    </div>
</section>

<section class="bt">
	<div class="container no-padding">
    <div class="border-texture bt-2"><img src="/images/floating/border-textrure-2.png" alt=""/></div>
    	<div class="cta-theme cta-theme-location">
        <div class="pf-wrap">
        	{% region paradise-found-booknow %}
            </div>
        </div>
    </div>
</section>



<section>
	<div class="container">
   	  <div class="home-location-wrap"> 
      
      {% include location.html %}
      
           <div><a href="/gallery/" class="button-common btn-blue">View Gallery<i class="fa fa-play"></i></a></div>
            
      </div>
    </div>
</section>



<section class="hdct">
	<div class="container-fluid no-padding">
    <div class="graphic"></div>
    	<div class="empty-container">{% region loc-1 %}</div>
        
    </div>
</section>

{% include grid.html %}

<section>
	<div class="loc-map">
    {% region loc-map-img %} </div>
</section>

<!--<section>
	<div class="container-fluid no-padding home-specials-wrap car-blue-bg">
    	<div class="container">
       	  <h2 class="heading-large">current events</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>fantasy festival</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>ernest hemingway</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Event</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>grand opening special</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
             <div class="item">
            <div class="home-specials-item">
                <img src="../images/loc-event-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>book early & save!</h3>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                </div>
                <a href="#" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            </div>
            
            <div class="btn-holder-with-padding"><a href="#" class="button-common">View all Events<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>-->



