---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner rooms-banner">
    	<h1 class="page-title">save the children</h1>
    </div>
  </div>
</section>


    <!-- save the girl child setion start-->
    <section class="container no-padding">
<div class="save-the-child-section-inner">
            <div class="save-the-child-container">
            <div class="logo-container col-sm-4" >
                <img src="/images/save-the-child-logo.png" alt="Save The Children"/>
            </div>
            <div class="description-container col-sm-8" >
            <div class="description-center">
            <h2>DONATE TODAY & MAKE A DIFFERENCE</h2>
            <p>24 North is a proud supporter of Save the Children, internationally recognized for giving children a 

                healthy start, the opportunity to learn and protection from harm. To make a difference in a child’s life, please donate 

                today.</p>
            </div>
            <div class="button-container" >
                <a href="https://goo.gl/OJexpZ" target="_blank" class="button-common2">DONATE NOW  </a>
            </div>
            </div>
            
            <div class="clear-both"></div>
            </div>
</div>
</section>
<!-- save the girl child setion end-->

