---
layout: default
---
<section class="bt">
    <div class="container no-padding">
        
        <div class="cta-theme cta-theme-location wedding-banner">
            <div class="pf-wrap wedding-content">
                {% region paradise-found-booknow %}
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap wedding-content-wrap">
      {% region 24North-hotelkeywest %}
    </div>
  </div>
</section>

<section>
    <div class="container-fluid show-case">
        <div class="row">
        <div class="col-sm-4 no-padding">{% region showcase-img-1 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-2 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-3 %}</div>
   </div>
    </div>
</section>


