---
layout: default
---
<section class="bt">
    <div class="container no-padding">
        
        <div class="cta-theme cta-theme-location wedding-banner">
            <div class="pf-wrap wedding-content">
                {% region paradise-found-booknow %}
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap wedding-content-wrap">
      {% region 24North-hotelkeywest %}
    </div>
  </div>
</section>

<section>
  <div class="container no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
      <h3>Wedding Special</h3>
      <p>Lorem ipsum dolor sit amet, in quo magnaoratio, illum assum neglegentur nec ne. Unum explicari patrioque eum ad, usu in accumsan urbanitas inciderint, meis tibique no ius. Salutandi temporibus theophrastus cu vis, at postulant dignissim suscipiantur nec. <br>Use Promo Code: ALOHAWED</p>
      
       
      </div>
     
    </div>
    <div class="col-sm-6 no-padding v-center"><img src="/images/wedding/wedding4.jpg"></div>
  </div>
  <section class="wedding-special">
  <div class="container ">
   <div class="col-sm-6">
       <h3> Up to 12% Off</h3>
       <p>Save up to 12% of your stay with Aqua Waikiki Pearl's No Commitment special.</p>
       <hr>
        <p> Rates starting From</p>
       <h3>$112 PER NIGHT</h3>
      </div>
       <div class="col-sm-6">
      <div class="btn-holder"><a class="button-common btn-blue" href="/#/">Book Now <i class="fa fa-play"></i></a></div>
      </div>
      </div>
      </section>
</section>

<section>
    <div class="container-fluid show-case">
        <div class="row">
        <div class="col-sm-4 no-padding">{% region showcase-img-1 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-2 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-3 %}</div>
   </div>
    </div>
</section>


