---
layout: default
---
<section class="bt">
    <div class="container no-padding">
        
        <div class="cta-theme cta-theme-location wedding-banner">
            <div class="pf-wrap wedding-content">
                {% region paradise-found-booknow %}
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container-fluid white-bg">
    <div class="about-wrap wedding-content-wrap">
      {% region aqua-waikiki-pearl %}
    </div>
  </div>
</section>

<section>
  <div class="container no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
      {% region wedding-special %}
      </div>
     
    </div>
    <div class="col-sm-6 no-padding v-center">{% region wedding-special-image %}</div>
  </div>
  <section class="wedding-special">
  <div class="container ">
   <div class="col-sm-6">
      {% region offer-rate %}
      </div>
       <div class="col-sm-6">
      <div class="btn-holder"><a class="button-common btn-blue" href="/">Book Now <i class="fa fa-play"></i></a></div>
      </div>
      </div>
      </section>
</section>

<section>
    <div class="container-fluid show-case">
        <div class="row">
        <div class="col-sm-4 no-padding">{% region showcase-img-1 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-2 %}</div>
        <div class="col-sm-4 no-padding">{% region showcase-img-3 %}</div>
   </div>
    </div>
</section>


